@use './reset' as *;
@use './colors' as *;
@use './font' as *;

@use './mobile' as *;
@use './desktop' as *;
html{
    font-size: 62.5%;
}
body {
  font-size: 10px;
  font-weight: $primary-weight;
  font-family: "Barlow-Semi-Condensed", sans-serif;
}

